

/* google fonts here */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared style */
.hide {
    display: none;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Work Sans', sans-serif;
}
nav,
.margin-all {
    max-width: 80%;
    margin: 0 auto;
}
section {
    padding: 80px 0px;
}
li {
    list-style: none;
}
.btn {
    padding: 15px 20px;
    font-size: 1rem;
    background-color: #F948B2;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 48px;
    border: none;
    letter-spacing: 1px;
}
p {
    color: #534C64;
}
.gamer-container,
.nav-bar-container, .logo,
.banner-container,
.service-container,
.play-instant-container,
.caree-container,
.career-list {
    display: flex;
    justify-content: space-around ;
    align-items: center;
}
/* header section style */

.nav-bar-container, .logo {
    padding: 15px 0px;
}
.logo img {
    margin-right: 10px;
}
.logo h2 {
    font-size: 2.8rem;
    font-weight: 700;
}
.g-color {
    color: #ff42a5;
}
.meno-items ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.meno-items ul > li {
    list-style-type: none;
    margin-right: 20px;
}
.meno-items li > a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: #3C354F;
}
.btn-with-icons {
    padding: 12px 15px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
}
.btn-with-icons img {
    margin-left: 5px;
    width: 22px;
}
/* banner section style */
#banner {
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
}
.banner-img img {
    width: 100%;
}
.banner-info {
    width: 50%;
}
.banner-img {
    width: 50%;
}
.banner-info h2 {
    font-size: 2.5rem;
    color: #0B0223;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-info h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
}
.banner-info ul {
    margin: 20px 0px;
}
.banner-info ul li {
    list-style: none;
    margin-bottom: 5px;
    font-weight: 500;
}
.banner-info ul li img {
    padding-right: 10px;
}
.btn-skyblue {
    background-color: #4EC5F7;
    margin-left: 15px;
}
/* gamer section style */
#gamer {
    background-color: #fff9fc;
}
.gamer-container {
    gap: 15px;
}
.gamer-info {
    text-align: right;
}
.gamer-info p {
    margin-bottom: 20px;
}
.gamer-info .btn {
    margin-bottom: 20px;
}
.gamer-info h3 {
    font-weight: 600;
}
.gamer-info h4 {
    color: #534C64;
}
.gamer-info h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer-img {
    width: 50%;
}
.gamer-img img {
    width: 100%;
}
/* service section style */
.service-title {
    text-align: center;
    margin-bottom: 49px;
}
.service-title h2 {
    font-weight: 700;
    margin-bottom: 5px;
}
#three-box {
    position: relative;
}
#three-box {}

.play {
    right: 20%;
    cursor: pointer;
    top: 46%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.linear {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.service-container {
    gap: 10px;
}
.service-box img {
    width: 100%;
}
.service-box p {
    font-size: .9rem;
    margin-top: 5px;
}
.s-box {
    border-radius: 10px;
    width: 100%;
    position: relative;
}
.service-box1 {
    height: 350px;
    width: 100%;
    background-image: url(../images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.service-box2 {
    height: 350px;
    width: 100%;
    background-image: url(../images/Rectangle\ 6.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.service-box3 {
    border-radius: 10px;
    height: 350px;
    width: 100%;
    background-image: linear-gradient(#0000009e,#000), url(../images/Rectangle\ 7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.play img {
    margin: auto;
    margin-bottom: 8px;
    display: block;
}

.service-box4 {
    height: 350px;
    width: 100%;
    background-image: url(../images/Rectangle\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.service-box1.s-box p,
.service-box2.s-box p,
.service-box3.s-box p,
.service-box4.s-box p {
    position: absolute;
    bottom: -50px;
}
/* play instantly section style */
.play-instant-container {
    margin-bottom: 50px;
}
.play-instant-info h2 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.play-instant-img img {
    width: 100%;
}
.play-instant-img {
    width: 40%;
    position: relative;
}
.position-img {
    width: 50%;
    position: absolute;
    bottom: -18%;
    right: 72%;
}
/* career section style */
#career {
    padding: 0;
    margin-top: 40px;
    background-image: linear-gradient(#F948B2,#F948B2), url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
}
.career-info {
    color: #fff;
    width: 50%;
}
.career-info h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.career-info p {
    font-size: .9rem;
    color: #fff;
    margin-bottom: 10px;
    line-height: 24px;
}
.career-list {
    margin-top: 20px;
}
.career-img {
    width: 50%;
}
.career-img img {
    width: 100%;
}
.career-list ul li {
    margin-bottom: 5px;
    font-size: .9rem;
    list-style: none;
}
.list-right li {
    text-align: right;
}
.career-btn {
    margin-top: 15px;
    background-color: #fff;
    color: #F948B2;
    cursor: pointer;
    font-size: .7rem;
}
/* review section style */
.review-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    align-content: center;
}
.single-review-box {
    flex-basis: 190px;
    display: flex;
    border-radius: 30px;
    align-items: center;
    gap: 8px;
    transition: .5s;
}
.single-review-box:hover {
    border: 1px solid #000;
    color: #F948B2;
    cursor: pointer;
}
.single-review-box img {
    width: 40px;
    height: 40px;
}
.single-review-box h3 {
    font-size: .8rem;
}

/* footer section style */
footer {
    background-color: #0b0232;
    color: #fff;
}
.footer-title {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-title img {
    width: 60px;
    margin-right: 15px;
}
.footer-title h2 {
    font-size: 2rem;
}
.footer-list-container {
    flex-wrap: wrap;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}
.footer-list-container li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 120px;
}
.social-icons {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.social-icons i {
    display: flex;
    flex-basis: 100px;
    justify-content: center;
    font-size: 2rem;
}
.privecy-container {
    grid-template-columns: repeat(4, 1fr);
    color: rgba(255, 255, 255, 0.60);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 26px;
}

.copyright {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    line-height: 24px;
}



/* responsive style here */

/* mobile responsive style */
 @media screen and (max-width: 576px) {
    .nav-bar-container,
    .meno-items ul,
    .banner-container,
    .gamer-container,
    .service-container,
    .play-instant-container,
    .caree-container  {
        flex-direction: column;
    }
    .margin-all {
        width: 90%;
    }
    section {
        padding: 40px 0px;
    }
    .banner-container {
        flex-direction: column-reverse;
    }

    .meno-items ul li {
        margin-bottom: 20px;
    }
    .btn-with-icons img {
        width: 22px;
        margin-left: 5px;
    }
    .logo img {
        width: 100px;
    }
    .logo {
        padding: 25px 0px;
    }
    .banner-info {
        margin-top: 60px;
        text-align: left;
        width: 100%;
    }
    .banner-img {
        width: 80%;
    }
    .banner-img img {
        width: 100%;
    }
    .banner-info ul li {
        margin-bottom: 3px;
    }
    .gamer-info {
        text-align: center;
        width: 100%;
    }
    .gamer-info p {
        width: 240px;
        margin: 20px auto;
    }
    .service-title p {
        font-size: .7rem;
    }
    .gamer-info button {
        margin-bottom: 20px;
        padding: 20px 30px;
    }
    .gamer-img {
        width: 100%;
    }
    .service-box {
        margin-bottom: 20px;
    }
    .s-box {
        margin-bottom: 50px;
    }
    .play-instant-info {
        text-align: center;
    }
    .play-instant-info h2 {
        font-size: 1.5rem;
    }
    .play-instant-info p {
        margin-bottom: 30px;
    }
    .play-instant-img  {
        width: 70%;
    }
    .career-info {
        padding: 40px;
        width: 97%;
    }
    .career-info img {
        width: 100%;
    }
    .career-img {
        width: 100%;
    }
    .single-review-box img {
        width: 36px;
        height: 36px;
    }
    .single-review-box h3 {
        font-size: .5rem;
    }
    .margin-left {
        margin-left: 0px;
    }
    .single-review-box {
        flex-basis: 95px;
    }
    .single-review-box img {
        width: 28px;
        height: 28px;
    }
    .footer-list-container {
        grid-template-columns: repeat(4, 1fr);
    }
    .footer-list-container li {
        flex-basis: 100px;
    }
    .social-icons {
        gap: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .privecy-container  {
        grid-template-columns: repeat(2, 1fr);
    }

} 

/* tablet style */

@media screen and (min-width: 576px) and (max-width: 992px){
    
    .gamer-container,
    .service-container,
    .play-instant-container,
    .caree-container  {
        flex-direction: column;
    }
    .margin-all {
        width: 90%;
    }
    .single-review-box {
        flex-basis: 150px;
    }
    .career-info {
        width: 100%;
        padding: 20px;
    }
    .career-img {
        width: 80%;
    }
    .career-btn {
        display: block;
        margin: 30px auto;
    }
    .gamer-img {
        width: 100%;
    }
    .gamer-info {
        width: 100%;
        text-align: left;
    }
    .play {
        right: 37%;
    }
    .s-box {
        margin-bottom: 60px;
    }
    section {
        padding: 60px 0px;
    }
    .play-instant-info,
    .play-instant-img  {
        width: 70%;
        text-align: center;
        margin-bottom: 20px;
    }
    .footer-list-container li {
        flex-basis: 125px;
    }
    .social-icons i {
        flex-basis: 0px;
    }
} 